*.iml
*/target/*
*/*jpr
*/*iml
.idea
**.idea
.classpath
.project
.settings
**/.classpath
**/.project
**/.settings
**/*.iml
/*/target/
/*/*.iml
/target/
**/.externalToolBuilders
**/maven-eclipse.xml
.externalToolBuilders
maven-eclipse.xml
***.log
**/*/target
*/data
data/